@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

body,
html {
  height: 100% !important;
  font-family: "Roboto", sans-serif;
}

.mel-height {
  height: 100% !important;
  font-family: "Roboto", sans-serif;
}

.mel-sidebar {
  font-family: "Roboto", sans-serif;

  max-height: 100%;
  overflow: hidden;
}

.mel-rel {
  position: relative;
  overflow: scroll;
}

.mel-abs {
  position: absolute;
}

.mel-sidebar-b {
  padding-top: 50px;
}

.mel-side-icons {
  font-size: 1.6rem !important;
}

.mel-nav-icons {
  font-size: 1.6rem !important;
}

.mel-semibold {
  font-weight: 500 !important;
}

.profle-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.prof-small {
  font-size: 0.7rem !important;
  color: #212529;
}

.mel-small {
  font-size: 0.8rem !important;
}

.mel-subtitle {
  font-size: 1.2rem !important;
}

.mel-border-bottom {
  border-bottom: 5px solid #ffab00;
}

.mel-color-def {
  color: #ffab00 !important;
}

.mel-bgcolor-def {
  background-color: #ffab00 !important;
}

.nav-color {
  color: #212529 !important;
}

.mel-type-fund {
  background-color: #feebc3;
  border-radius: 5px;
}

.mel-fund-link {
  color: #212529 !important;
  border-radius: 50%;
  padding: 5px 7px;
  background-color: #fbfde8;
}
